$near-black: #1a3344;
$text-blue: #27415a;
$text-blue-light: #42607b;
$light-grey: #fbfbfb;
$mid-grey: #dfdfdf;
$dark-grey: #acacac;
$orange: #f07a32;
$light-orange: #fad7c1;
$transition: 0.5s;

$fontHeading: "Montserrat", Arial, sans-serif;
