{
  "presets": [
    ["next/babel", { "transform-runtime": { "useESModules": false } }],
    [
      "@babel/preset-env",
      {
        "targets": { "browsers": [">0.3%"] },
        "modules": false,
        "useBuiltIns": "usage"
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-transform-object-assign"
  ]
}
